{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-y-scroll">
  <style>
    .background-radial-gradient {
      height: 100%;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }

    .form-outline input[type="text"],
    .form-outline input[type="password"] {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    .form-outline label {
      left: 0.5rem !important;
      right: 0.5rem !important;
    }

    .form-outline input[type="text"]:focus:not([readonly]) + label,
    .form-outline input[type="password"]:focus:not([readonly]) + label {
      left: 0.5rem !important;
      right: 0.5rem !important;
    }

    .form-outline input[type="text"]:not(:placeholder-shown) + label,
    .form-outline input[type="password"]:not(:placeholder-shown) + label {
      left: 0.5rem !important;
      right: 0.5rem !important;
    }
    form span {
      display: block !important;
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }

    form span:before {
      content: "Message : " !important;
    }

    form span:not(:empty) {
      display: block !important;
    }

    form span:empty {
      display: none !important;
    }
    .message {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      color: white;
      display: none;
    }
  </style>
  <div id="message" class="message"></div>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h2 class="fw-bold text-center">
              DASHBOARD
            </h2>
            <section>
              <div>
                <br>
                <h4>Add a new account</h4>
                <form class="d-flex flex-row align-items-end justify-content-around" method="POST" action="/dashboard">
                  <div class="form-outline col-4">
                    <label class="form-label" for="form3Example3">Username</label>
                    <input
                      type="text"
                      id="form3Example3"
                      class="form-control"
                      placeholder="Enter LiveGood Username..."
                      name="username"
                      autocomplete="on"
                      required
                    />
                  </div>
                  <div class="form-outline col-4">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input
                      type="password"
                      id="form3Example4"
                      class="form-control"
                      placeholder="Enter LiveGood Password..."
                      name="password"
                      autocomplete="current-password"
                      required
                    />
                  </div>
                  <button class="btn btn-primary col-2" type="submit">Save</button>
                </form>
                <h4 class="mt-4">Your Accounts</h4>
                {% for account in accounts %}
                <form class="d-xxl-flex flex-xxl-row align-items-xxl-end justify-content-xxl-around" method="GET" action="/dashboard" id="myForm">
                  <input type="text" name="id" value="{{account[0]}}" hidden>
                  <input type="text" name="user" value="{{account[1]}}" hidden>
                  <div class="d-xxl-flex flex-xxl-row col-xxl-6 justify-content-xxl-between">
                    <div class="form-outline col-xxl-5">
                      <label class="form-label" for="livegood_username">Username</label>
                      <input type="text" class="form-control" value="{{account[2]}}" name="livegood_username" id="livegood_username" autocomplete="on" required/>
                    </div>
                    <div class="form-outline col-xxl-5">
                      <label class="form-label" for="livegood_password">Password</label>
                      <input type="password" class="form-control" value="{{account[3]}}" name="livegood_password" id="livegood_password" autocomplete="current-password" required/>
                    </div>
                  </div>
                  <div class="mt-sm-3 mt-md-3 mt-lg-3 mt-xl-3 mt-xxl-auto col-xxl-5 d-xxl-flex flex-xxl-row justify-content-xxl-between">
                    <button class="btn btn-primary" type="submit" formmethod="POST" formaction="/detailedstats">Get Statistics</button>
                    <button class="btn btn-warning" type="submit" formmethod="POST" formaction="/updatelivegoodaccount">Update Details</button>
                    <button class="btn btn-danger" type="submit" formmethod="POST" formaction="/deletelivegoodaccount">Delete Account</button>
                  </div>
                </form>
                {% endfor %}
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  type="text/javascript"
></script>
<script>
  <!-- JavaScript -->
  $(document).ready(function() {
    if ("{{message}}" !== "None" && "{{status}}" !== "None"){
      showMessage("{{message}}", "{{status}}")
    }
  });
  function showMessage(text, status) {
    var message = document.getElementById('message');
    message.textContent = text;
    if (status==="error"){
      message.style.backgroundColor = "#D0342C";
    }
    else{
      message.style.backgroundColor = "#4BB543";
    }
    message.style.display = 'block';
    setTimeout(function() {
      message.style.display = 'none';
    }, 3000);
  }
</script>
<!-- Section: Design Block -->
{% endblock %}
