{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-y-scroll">
  <style>
    .background-radial-gradient {
      height: 100%;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.952) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
    .message {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      color: white;
      display: none;
    }
    th,
    td {
      /* border: 1px solid black; */
      padding: 8px;
    }
    .headings{
      background-color: rgb(0, 80, 173);
      color: white;
    }
    table{
      /* display: table; */
      /* border: 1px black solid; */
      /* border-collapse:collapse; */
      box-sizing: border-box;
      text-indent: initial;
      /* border-spacing: 1 px; */
      border-color: gray;
    }
    #users{
      border:1px solid black;
    }
    .Key_0{
     background-color: #DEECD6;
     border: 1px solid black;  
    }
    .Key_1{
     background-color: #F2A77D;
     border: 1px solid black;  
    }
    .Key_2{
     background-color: #B7B7B7;
     border: 1px solid black;  
    }
    .Key_3{
     background-color: #FFFF3B;
     border: 1px solid black;  
    }
    .Key_4{
     background-color: #91BAE0;
     border: 1px solid black;  
    }
    .Key_5{
     background-color: #001D53;
     border: 1px solid black;  
    }
    .Key_Blank{
     border: 1px dashed black; 
    }
  </style>
  <div id="message" class="message"></div>
  <div class=" px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h2 class="fw-bold text-center">Detailed Statistics</h2>
            <section>
              <div class="">
                <div class="">
                  <h2>{{username}}</h2>
                  <h3>Latest Earnings</h3>
                  <p>Pay Period: {{earned_pay_period}}</p>
                  <p>Pay Duration: {{earned_duration_value}}</p>
                  <p>Pay Value: {{earned_value}}</p>
                  {% set total_count = namespace(value=0) %}
                  {% for date, users in users.items() %}
                      {% set total_count.value = total_count.value + users|length %}
                  {% endfor %}
                  <h3>Rank: {{rank}}</h3>
                  <h3>Users: {{total_count.value}}</h3>
                </div>
                <div class="d-flex justify-content-center">
                  <table cellspacing="5" cellpadding="2">
                    <tbody><tr>
                    <td><span class="Key_0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Unranked</td>
                    <td><span class="Key_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Silver</td>
                    <td><span class="Key_4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Platinum</td>
                    <td><span class="Key_Blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td><nobr>Waiting to be filled</nobr></td>
                    </tr>
                    <tr>
                    <td><span class="Key_1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Bronze</td>
                    <td><span class="Key_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Gold</td>
                    <td><span class="Key_5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                    <td>Diamond</td>
                    <td></td>
                    <td></td>
                    </tr></tbody></table>
                </div>
                <div class="d-flex flex-row align-items-end justify-content-between mb-3">
                    <div class="col-6">
                        <label for="dateFilter">Filter by date:</label>
                        <input class="form-control w-100" type="date" id="dateFilter" />
                    </div>
                    <button class="btn btn-primary h-50" style="background-color: rgb(0, 80, 173); border-color: rgb(0, 80, 173);" onclick="exportCSVExcel()">Export to Excel</button>
                </div>
                <table id="users"  cellspacing="0" width="100%" class="w-100">
                  <tr class="headings">
                      <th class="th-sm">S.no</th>
                      <th class="th-sm">Name</th>
                      <th class="th-sm">Rank</th>
                      <th class="th-sm">Account Expiry Date</th>
                  </tr>
                  {% set sno = namespace(value=1) %}
                  {% for date, users in users.items() %}
                      {% for user in users %}
                          <tr class="userRow" data-date="{{date}}">
                              <td>{{sno.value}}</td>
                              <td>{{user[0]}}</td>
                              <td>{{user[1]}}</td>
                              <td>{{date}}</td>
                            </tr>
                          {% set sno.value = sno.value + 1 %} 
                      {% endfor %}
                  {% endfor %}
              </table>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item prevLi disabled"><a class="page-link prev" href="#" tabindex="-1">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item nextLi"><a class="page-link next" href="#">Next</a></li>
                </ul>
              </nav>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="anchorExcel" style="display: none;"></a>
</section>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  type="text/javascript"
></script>
<script
    src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script>
function exportCSVExcel() {
	$('#users').table2excel({
		exclude: ".no-export",
		filename: "download.xls",
		fileext: ".xls",
		exclude_links: true,
		exclude_inputs: true
	});
}
  
  // define a function to get the color for a given rank
  function getColor(rank) {
      if (rank == "Unranked") {
          return "#DEECD6";
      } else if (rank == "Bronze") {
          return "#F2A77D";
      } else if (rank == "Silver") {
          return "#B7B7B7";
      } else if (rank == "Platinum") {
          return "#91BAE0";
      } else if (rank == "Gold") {
          return "#FFFF3B";
      } else if (rank == "Diamond") {
          return "#001D53";
      }
  }

// define the updateTable function
function updateTable(pageNumber) {

  // hide all rows
  for (var i = 0; i < rows.length; i++) {
      rows[i].style.display = 'none';
  }

  // show the rows for the new page
  var start = (pageNumber - 1) * rowsPerPage;
  var end = start + rowsPerPage;
  for (var i = start; i < end && i < rows.length; i++) {
      rows[i].style.display = '';
  }

  
  // update the current page number
  currentPageNumber = pageNumber;
  
  // enable or disable the previous and next buttons
  var previousButton = document.querySelector('.prev');
  var nextButton = document.querySelector('.next');
  if (currentPageNumber == 1) {
    if (previousButton.parentNode.classList.contains("disabled")==false){
      previousButton.parentNode.classList.add('disabled');
    }
  } else {
      previousButton.parentNode.classList.remove('disabled');
  }
  if (currentPageNumber == numPages) {
      nextButton.parentNode.classList.add('disabled');
  } else {
      nextButton.parentNode.classList.remove('disabled');
  }
  
  // update the "showing _ out of _" message
  showingMessage.textContent = 'Showing ' + ((currentPageNumber - 1) * rowsPerPage + 1) + ' - ' + Math.min(currentPageNumber * rowsPerPage, rows.length) + ' out of ' + rows.length;

}

// define the number of rows per page
var rowsPerPage = 10;

// get the table element and rows
var table = document.querySelector('#users');
var rows = table.querySelectorAll('tr.userRow');

// calculate the number of pages
var numPages = Math.ceil(rows.length / rowsPerPage);

// hide all rows except the first page
for (var i = rowsPerPage; i < rows.length; i++) {
    rows[i].style.display = 'none';
}

// add event listeners to the page-link elements
var currentPageNumber = 1;
var pageLinks = document.querySelectorAll('.page-link');
for (var i = 0; i < pageLinks.length; i++) {
    pageLinks[i].addEventListener('click', function(event) {
        // get the clicked page number
        var pageNumber;
        if (event.target.classList.contains('prev')) {
            pageNumber = currentPageNumber - 1;
        } else if (event.target.classList.contains('next')) {
            pageNumber = currentPageNumber + 1;
        } else {
            pageNumber = parseInt(event.target.textContent);
        }
        // update the table content
        updateTable(pageNumber);
    });
}

  // add a dynamic "showing _ out of _" message above the table
  var showingMessage = document.createElement('p');
  showingMessage.textContent = 'Showing ' + ((currentPageNumber - 1) * rowsPerPage + 1) + ' - ' + Math.min(currentPageNumber * rowsPerPage, rows.length) + ' out of ' + rows.length;
  table.parentNode.insertBefore(showingMessage, table);


  $(document).ready(function () {
    if ("{{message}}" !== "None" && "{{status}}" !== "None"){
      showMessage("{{message}}", "{{status}}")
    }
    // get all rows in the table
    var rows = document.querySelectorAll('#users tr.userRow');
    // loop through each row and set the background color
    for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var rank = row.querySelector('td:nth-child(3)').textContent;
        var color = getColor(rank);
        row.style.backgroundColor = color;
    }
  });
  
  function showMessage(text, status) {
    var message = document.getElementById("message");
    message.textContent = text;
    if (status === "error") {
      message.style.backgroundColor = "#D0342C";
    } else {
      message.style.backgroundColor = "#4BB543";
    }
    message.style.display = "block";
    setTimeout(function () {
      message.style.display = "none";
    }, 3000);
  }

const dateFilter = document.getElementById("dateFilter");
const userRows = document.querySelectorAll(".userRow");
dateFilter.addEventListener("change", (event) => {
  showingMessage.textContent = 'Showing ' + ((currentPageNumber - 1) * rowsPerPage + 1) + ' - ' + Math.min(currentPageNumber * rowsPerPage, rows.length) + ' out of ' + rows.length;

  const selectedDate = event.target.value;
  console.log(selectedDate)
  if (selectedDate === "") {
    // show all rows if the clear option is selected
    userRows.forEach((row) => {
      row.style.display = "";
    });
  } else {
    // filter rows by date
    userRows.forEach((row) => {
      const rowDate = row.getAttribute("data-date");
      if (selectedDate === rowDate) {
        row.style.display = "";
        row.classList.remove("no-export")
      } else {
        row.style.display = "none";
        row.classList.add("no-export")
      }
    });
  }
});
</script>
<!-- Section: Design Block -->
{% endblock %}
