{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-y-scroll">
  <style>
    .background-radial-gradient {
      height: 100%;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
    .message {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      color: white;
      display: none;
    }
    table {
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
  <div id="message" class="message"></div>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h2 class="fw-bold text-center">Detailed Statistics</h2>
            <section>
              <div>
                <h2>{{username}}</h2>
                <h3>Latest Earnings</h3>
                <p>Pay Period: {{earned_pay_period}}</p>
                <p>Pay Duration: {{earned_duration_value}}</p>
                <p>Pay Value: {{earned_value}}</p>
                <h3>Rank: {{rank}}</h3>
                <h3>Users</h3>
                <div class="d-flex flex-row align-items-end justify-content-between mb-3">
                    <div class="col-6">
                        <label for="dateFilter">Filter by date:</label>
                        <input class="form-control w-100" type="date" id="dateFilter" />
                    </div>
                    <button class="btn btn-primary h-50" onclick="exportToExcelAsync()">Export to Excel</button>
                </div>
                <table id="users" class="w-100">
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Rank</th>
                  </tr>
                  {% for date, users in users.items() %} {% for user in users %}
                  <tr class="userRow" data-date="{{date}}">
                    <td>{{date}}</td>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                  </tr>
                  {% endfor %} {% endfor %}
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="anchorExcel" style="display: none;"></a>
</section>
<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
  type="text/javascript"
></script>
<script src="https://cdn.jsdelivr.net/npm/excellentexport@3"></script>
<script type="text/javascript">
    async function exportToExcelAsync() {
    console.log('here')
    // Call ExcellentExport.convert
    ExcellentExport.convert(
        {
        anchor: "anchorExcel",
        filename: "users",
        format: "xlsx",
        },
        [
        {
            name: "Account Expiry",
            from: {
            table: "users",
            },
        },
        ]
    );
    }
    
  $(document).ready(function () {
    showMessage("{{message}}", "{{status}}");
  });
  
  function showMessage(text, status) {
    var message = document.getElementById("message");
    message.textContent = text;
    if (status === "error") {
      message.style.backgroundColor = "#D0342C";
    } else {
      message.style.backgroundColor = "#4BB543";
    }
    message.style.display = "block";
    setTimeout(function () {
      message.style.display = "none";
    }, 3000);
  }

  const dateFilter = document.getElementById("dateFilter");
  const userRows = document.querySelectorAll(".userRow");
  dateFilter.addEventListener("change", (event) => {
    const selectedDate = event.target.value;
    userRows.forEach((row) => {
      const rowDate = row.getAttribute("data-date");
      if (selectedDate === rowDate) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    });
  });
</script>
<!-- Section: Design Block -->
{% endblock %}
